NODE_ENV=dev
PORT=3000
DATABASE_URL=postgresql://johndoe:randompassword@localhost:5432/mydb
ACCESS_TOKEN_SECRET=
REFRESH_TOKEN_SECRET=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_AUTH_CALLBACK_URL=
MAIL_HOST='smtp.gmail.com'
MAIL_PORT=587
MAIL_USER= # email
MAIL_PASS= # senha de aplicativo
MAIL_SECURE=false