NODE_ENV=dev
PORT=3000
DATABASE_URL=postgresql://johndoe:randompassword@localhost:5432/mydb
ACCESS_TOKEN_SECRET=microsaasaccesstokensecret
REFRESH_TOKEN_SECRET=microsaasrefreshtokensecret

# Google OAuth credentials
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_AUTH_CALLBACK_URL='http://localhost:3000/auth/google/redirect'

# Mail service credentials
MAIL_HOST='smtp.gmail.com'
MAIL_PORT=
MAIL_USER=
MAIL_PASS=
MAIL_SECURE=true

# Google Sheets service account credentials
GOOGLE_CLIENT_EMAIL=
GOOGLE_PRIVATE_KEY=
GOOGLE_REDIRECT_URI=
GOOGLE_SPREADSHEET_ID=

# Stripe API keys
STRIPE_API_KEY=